doctype html
html(lang="en")
    head
        base(href="/")
        meta(charset="UTF-8")
        include copyright
        style
            include ../bower_components/bootstrap/dist/css/bootstrap.min.css
            include ../public/application.css
    body
        div(ui-view)
        script(type='text/javascript')
            include ../bower_components/angular/angular.min.js
            include ../bower_components/angular-ui-router/release/angular-ui-router.min.js
            include ../bower_components/angular-resource/angular-resource.min.js
            include ../bower_components/mgr.ngResourceWithRelations/ng-resource-with-relations.js
            include ../public/application.js
            include ../public/templates.js
